body {
  background-color: #7FDBFF;
}

.cell {
  width: 150px;
  height: 250px;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: white;
}
